<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
  <div id="page-container" class="padded">
    <div id="header" class="flex space-between">
      <h1><a href="/sticks">&lt;</a></h1>
      <h1 id="info-button">i</h1>
    </div>
    <div id="info" class="info-text">
      <p>
        Tap and drag on the screen to interact.
      </p>
    </div>
    <div id="startButton">start</div>
    <div id="solid"></div>
    <div id="canvas"></div>
  </div>
  <script src="/styles/toggle-info.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
  <script src="/sticks/line-follows-cursor.js"></script>
</body>

</html>