<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
  <div id="page-container" class="padded">
    <div id="header" class="flex space-between">
      <h1><a href="/sticks">&lt;</a></h1>
      <h1 id="info-button">i</h1>
    </div>
    <div id="info" class="info-text">
      <p>
        Tap and hold to move the middle stick. Control viewport by panning device.
      </p>
    </div>
    <div id="startButton">start</div>
    <div id="solid"></div>
  </div>
  <div id="scene-container"></div>
  <script src="/styles/toggle-info.js"></script>
  <script type="module" src="/sticks/three-rml.js"></script>
</body>

</html>