<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">

</head>

<body>
  <div id="page-container" class="padded">
    <h1><a href="/">&lt;</a></h1>
    <ol>
      <h2><li><a href="field">Field</a></li></h2>
      <h2><li><a href="magnetic">Magnetic</a></li></h2>
      <h2><li><a href="soundwave">Linear soundwave</a></li></h2>
      <h2><li><a href="radial-wave">Radial soundwave</a></li></h2>
      <h2><li><a href="tilt-control">Tilt control</a></li></h2>
    </ol>
  </div>
</body>

</html>