<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
    integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous">
  </script>

  <script src='/third-party/matter.js'></script>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
  <div id="page-container" class="padded">
    <div id="header" class="flex space-between">
      <h1><a href="/circles">&lt;</a></h1>
      <h1 id="info-button">i</h1>
    </div>
    <div id="info" class="info-text">
      <p>
        This sketch connects the circles on two connected devices, creating a magnetic force between them.
      </p>
    </div>
    <div id="startButton">start</div>
  </div>
  <script src="/circles/magnetic.js"></script>
  <script src="/third-party/matter.js"></script>
  <script src="/styles/toggle-info.js"></script>
</body>

</html>