<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js"></script>
    
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
  <div id="page-container" class="padded">
    <div id="header" class="flex space-between">
      <h1><a href="/circles">&lt;</a></h1>
      <h1 id="info-button">i</h1>
    </div>
    <div id="info" class="info-text">
      <p>
        Circles react to microphone sound input.
      </p>
    </div>
    <div id="startButton">start</div>
    <div id="solid"></div>
    <div id="canvas"></div>
  </div>
  <script src="/styles/toggle-info.js"></script>
  <script src="/circles/soundwave.js"></script>
</body>

</html>