<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
  <div id="page-container" class="padded">
    <div id="header" class="flex space-between">
      <h1><a href="/circles">&lt;</a></h1>
      <h1 id="info-button">i</h1>
    </div>
    <div id="info" class="info-text">
      <p>
        Tilt the device to move the circles.
      </p>
    </div>
    <div id="startButton">start</div>
    <div id="solid"></div>
  </div>
  <script src="/third-party/matter.js"></script>
  <script src="/circles/tilt-control.js"></script>
  <script src="/styles/toggle-info.js"></script>
</body>

</html>